{% extends "base.html" %}

{% block content %}
<h1>Welcome to Chirper!!!</h1>
<h4>{{ amount }} chirps</h4>
<div class="row">
  <div class="col-md-6">
    {% for chirps in object_list %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <img class="thumb" src="{{chirps.bird.profile.photo_url}}" alt="" />
            {{ chirps.bird }}
          </h3>
        </div>
        <div class="panel-body">
          {{ chirps.body }}
          {% if chirps.bird == request.user %}
            <br>
            <a href="{% url 'chirp_detail_view' chirps.pk %}">Click Here for Details</a>
            <br>
            <form class="" action="{% url 'chirp_delete_view' chirps.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" name="delete_button" value="Delete Chrip Now!">
            </form>
            <a class="btn btn-danger btn-xs" href="{% url 'chirp_delete_view' chirps.pk %}">Delete Chirp</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% if request.user.is_authenticated %}
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Chirp Somethin'</h3>
      </div>
        <div class="panel-body">
          <form class="" action="" method="post">
            {% csrf_token %}
              {{form.as_p}}
            <input class="btn" type="submit" name="name" value="Chirp!">
          </form>
        </div>
        </div>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}
